@model IEnumerable<Crud_FireStore.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="NovaPessoa">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PessoaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                <a asp-action="AtualizarPessoa" asp-route-pessoaId="@item.PessoaId">Atualizar</a>
                <form asp-action="ExcluirPessoa" asp-route-pessoaId="@item.PessoaId">
                    <button type="submit">Excluir</button>
                </form>                
            </td>
        </tr>
}
    </tbody>
</table>
